@model IEnumerable<Online_game.Models.ViewModel.ShowResultViewModel>

@{
    ViewBag.Title = "ShowResult";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List - Result</h4>
            <div class="navbar-nav-scroll">
                <table class="table table-hover" style="width:100px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.GameName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GameNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GameName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GameNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>

        </div>
    </div>
</div>

